*,
body,
html {
    padding: 0;
    margin: 0;
}

#chat,
a,
body,
html {
    color: #fff;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-size: 14px;
    -webkit-user-select: none;
}

a {
    text-decoration: none;
}

.ui_element {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#chat {
    display: block;
    z-index: 0;
    line-height: 24px;
    font-weight: 700;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family:Arial,Segoe UI Light,Myriad Pro,Segoe UI,Verdana,sans-serif;
    font-size: 16px;
    letter-spacing: .4px;
    margin-left: 15px;
}

@media screen and (min-height:1080px) {
    #chat {
        font-size: 18px!important;
        font-weight: 700;
    }
}

#chat ul#chat_messages {
    display: flex;
    flex-direction: column-reverse;
    direction: rtl;
    list-style-type: none;
    overflow-y: clip;
    overflow-x: hidden;
    padding: 10px 20px;
    height: 300px; /* 285px */
    width: 37vw;
    margin-top: 2vh;
    writing-mode: revert;
}

#chat ul#chat_messages li {
    text-align: left;
    direction: ltr;
}

#chat input#chat_msg {
    color: #fff;
    background: rgba(0, 0, 0, .5);
    outline: 0;
    border: none;
    font-family: Arial, Myriad Pro, Open Sans, sans-serif;
    font-size: 13px;
    line-height: 35px;
    width: 35vw;
    padding: 5px 5px 5px 15px;
}

 /* ::-webkit-scrollbar {
    width: 5px;
    border-radius: 50px;

}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
    border-radius: 500px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}  */
::-webkit-scrollbar{
    width:5px;
    display: block;
 
}
::-webkit-scrollbar-thumb{
    background:rgba(255, 255, 255, 0.3);
    border-radius:20px

}
::-webkit-scrollbar-thumb:hover{
    background:rgba(255, 255, 255, 0.65);

}